.water-tank label{
    border: none!important;
    padding-left: 4px!important;
    padding-right: 4px!important;
}

form.water-tank input{
    display:inline-block;
}

.water-tank fieldset.two-col{
    /* border-radius: 12px; */
    width: 100%;
    border: none;
    display: grid;
    grid-template-columns: 1fr 2fr;
    row-gap: 8px;
    margin-inline: 0 0;
    margin-block: 0 0;
    padding-inline: 0 0;
    padding-block: 0 0;
}


.water-tank fieldset.two-col label{
    /* display: inline-block; */
    white-space: normal;  /*this will wrap words on whitespace*/
    margin-bottom: 0.5em;
}

.water-tank fieldset.one-col{
    /* border-radius: 12px; */
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 8px;
    margin-inline: 0 0;
    margin-block: 0 0;
    padding-inline: 0 0;
    padding-block: 0 0;
}

.water-tank fieldset.one-col label{
    display: inline-block;
    white-space: nowrap;  /*this will wrap words on whitespace*/
}

.water-tank .info{
    color: rgb(120, 120, 120);
    font-size: small;
    margin-bottom: 0.5em;
}

.water-tank h3{
    margin-bottom: 4px;
    margin-top: 4px;
}

.water-tank h4{
    display: inline-block;
    margin-bottom: 4px;
    margin-top: 20px;
    text-decoration-line: underline;
    text-underline-offset: 2px;
    text-decoration-color: #404040;
    color: #404040;
}


@-webkit-keyframes water-tank-event {    
    from, to {    
        color: transparent    
    }    
    50% {    
        color: black
    }    
}    
@keyframes water-tank-event {    
    from, to {    
        color: transparent    
    }    
    50% {    
        color: black
    }   
}    

.water-tank span.flash-event {
    -webkit-animation: water-tank-event 1s step-end infinite;    
    animation: water-tank-event 1s step-end infinite;  
}

.water-tank table{
    border: 2px solid rgb(120, 120, 120);
    border-radius: 4px;
    border-collapse:collapse;
}

.water-tank table thead tr {
    background-color: #2E3959;
    color: #ffffff;
    text-align: left;
}

.water-tank th,
.water-tank td {
    padding: 4px 4px;
}

.water-tank tbody tr {
    border-bottom: 1px solid #dddddd;
}

.water-tank tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.water-tank tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.water-tank tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.water-tank textarea {
    height: 5em;
    width: 97%;
    display: block;
}

.water-tank button.reset {
    /* display: block; */
    margin: 2px;
    /* font-size: large; */
    background-color: lightskyblue;
}

/* Classes used for water_tank.html form validation */
.error {
    border: 2px solid #f00;
    color: #c00;
}

.valid {
    border: 1px solid #0ff;
}

/* Classes used for the widgets representing water tanks in the home page */
.percent-bar.normal {
    background-color: cyan;
}

.percent-bar.warning {
    background-color: yellow;
}

@-webkit-keyframes critical {    
    from, to {    
        background-color: transparent    
    }    
    50% {    
        background-color: red    
    }    
}    
@keyframes critical {    
    from, to {    
        background-color: transparent    
    }    
    50% {    
        background-color: red    
    }    
}    

.percent-bar.critical {        
    -webkit-animation: critical 1s step-end infinite;    
    animation: critical 1s step-end infinite;    
}


@-webkit-keyframes overflow {    
    from, to {    
        background-color: transparent    
    }    
    50% {    
        background-color: lightskyblue    
    }    
}    
@keyframes overflow {    
    from, to {    
        background-color: transparent    
    }    
    50% {    
        background-color: lightskyblue    
    }    
}    

.percent-bar.overflow {        
    -webkit-animation: overflow 1s step-end infinite;    
    animation: overflow 1s step-end infinite;    
}

.water-tank td.sensor_error {
    background-image: url('/static/images/warning-icon24x24.png');
    background-repeat: no-repeat;
    padding-left: 24px!important;
    display: block;
    margin-top: 0.5em;
    margin-left: 2px;
    padding-bottom: 8px;
    background-size: 22px;
}

.water-tank .program {
    font-weight: bold;
    color: #353535;
    min-width: auto;
    width: fit-content;
}

.water-tank .program-action {
    font-size: smaller;
    font-family: monospace;
    color: #2E3959;
}

.water-tank input[type=checkbox]{
    vertical-align: middle;
    position: relative;
    margin-right: 2px;
}

.water-tank button.deactivate {
    display: block;
    margin: 2px;
    font-size: large;
    background-color: lightskyblue;
}

.water-tank button.revert {
    vertical-align: text-top;
}

.percent-bar.sensor_error {
    background-color: grey;
}

.water-tank input:read-only {
    border: none;
}

.water-tank summary {
    font-size: medium;
}

#water_tank_table .water-tank-label {
    font-weight: bold;
    color: #333;
}


@-webkit-keyframes last_updated_exceeded {    
    from, to {    
        color: transparent    
    }    
    15% {    
        color: #c00;    
    }    
}    
@keyframes last_updated_exceeded {    
    from, to {    
        color: transparent    
    }    
    15% {    
        color: #c00;    
    }    
}    

#water_tank_table .last_updated.exceeded {        
    -webkit-animation: last_updated_exceeded 1s step-end infinite;    
    animation: last_updated_exceeded 3s step-end infinite;    
}

#water_tank_table .last_updated {
    font-size: 0.92em;
    color: rgb(70,70,70);
}

#water_tank_table h4.sensor_error {
    background-image: url('/static/images/warning-icon24x24.png');
    background-repeat: no-repeat;
    padding-bottom: 24px;
    margin: auto;
    width: 27px;
    display: block!important;
}

.water-tank .station {
    font-weight: bold;
    color: #353535;
    min-width: auto;
    width: fit-content;
    margin-bottom: 1em;
    margin-right: 0.65em;
}

.water-tank label.station {
    margin-bottom: 0.5em!important;
}

.water-tank .station-action {
    font-size: smaller;
    font-family: monospace;
    color: #2E3959;
    padding: 0px!important;
}

.water-tank .station input[type=checkbox]{
    vertical-align: middle;
    position: relative;
    margin-left: 0px;
    margin-right: 0.3em;
    margin-bottom: inherit;
}

.water-tank .station .duration,
.water-tank .station .percentage,
.water-tank .station .stop {
    width: 2em;
    font-size: 1em;
    margin-right: 0.4em;
    padding-left: 0px!important;
}

.water-tank .station .stop {
    width: 13px;
    margin-right: 4px;
}

.water-tank .station .error {
    color: #c00;
    font-weight: normal!important;
}

#sensor-log label {
    border: none;
    padding: 0px;
}

#sensor-log p {
    text-align: left;
}

#sensor_log_enabled  {
    width: fit-content;
}